/* Esto es un comentario
aqui estoy quitando los bordes que vienen por defecto en el navegador*/
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*Esto afecta todo el cuerpo de la página*/
body{
    background: #313D52;
}

/*Aqui estoy diciendo que una lo que tenga la clase "navegacion" va a ser afectada con lo que ponga ahí.
LAS CLASES SE LLAMAN CON UN PUNTO ANTES (BUSCAR HERARQUIA EN CSS)*/
.navegacion{
    width: 1000px;
    margin: 20px auto;
    height: 98px;
    background: white;

}
.navegacion ul{
    list-style: none;
}

.menu > li{
    position: relative;
    display: inline-block; /*esto hace que queden al lado y no debajo*/
}

.menu > li > a{
    display: block;
    padding: 15px 20px; /*relleno*/
    color: #353535;
    font-family: initial;
    text-decoration: none;
}
/*Al pasar el mouse por encima de las palabras quiero que cambie de color, transition hace que no sea inmediato
semora 3 segundos en suceder*/
.menu > li > a:hover{
    color: #ce7d35;
    transition: all .3s;

}


/*SUB MENU*/

.sub-menu{
    width: 140%;
    position: absolute;
    background: #333333;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.sub-menu li a{
    display: block;
    padding: 15px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}

.sub-menu li a:hover{
    color: tomato;
    transition: all .3s;
}

.menu li:hover .sub-menu{
    visibility:visible;
    opacity: 1;
}
/*--------------------*/
.logo{
    width: 150px;
    height: 100px;
    
}

.logo-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caja{

}

.big-box{
    
}

